.theme-btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background-color: $primary-color;
  padding: 0 35px;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
  font-family: $Roboto-font;
  font-weight: 500;

  &::before {
    background-color: #171d24;
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: -1;
    height: 103%;
    width: 102%;
    border-radius: 4px;
    content: "";
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    color: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &::before {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
    }

    i {
      transform: translateY(-1px) translateX(8px);
      &.arrow_left {
        transform: translateY(-1px) translateX(-8px);
      }
    }
  }

  i {
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-1px) translateX(0px);
    &.arrow_left {
      padding-right: 5px;
    }
  }

  &.theme-btn-alt {
    background-color: #fff;
    color: $primary-color;

    &:hover {
      color: #fff;
    }
  }
  &.theme-btn-primary_alt {
    color: $primary-color;
    background-color: rgba(#0050b2, 5%);
    transition: all 0.3s ease-out;
    overflow: inherit;
    i {
      transform: translate(0);
    }

    &::before {
      display: none;
    }
    &:hover {
      i {
        transform: translate(0);
      }
      background-color: rgba(#0050b2, 100%);
      color: #fff;
    }
  }
  &.theme-btn-outlined {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;

    &::before {
      display: none;
    }
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
  &.theme-btn-lg {
    height: 60px;
    line-height: 59px;
    padding: 0 40px;
  }
  &.theme-btn-outlined_alt {
    background-color: #fff;
    color: $primary-color;
    border: 1px solid #fff;

    &::before {
      display: none;
    }
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }

  &.theme-btn-light {
    background-color: #e5e5e5;
    color: $theme-title-color;

    &:hover {
      color: #fff;
    }
  }

  &.theme-btn-rounded {
    border-radius: 25px;

    &::before {
      border-radius: 25px;
    }
  }
  &.theme-btn-rounded-2 {
    &::before {
      display: none;
    }
    border-radius: 25px;
    box-shadow: none;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: $theme-title-color;
      color: #fff;
      box-shadow: 2px 5px 20px rgba(51, 77, 114, 0.2);
    }
  }
}

/*  Theme button 2 css */

.theme-btn-2 {
  display: inline-block;
  padding: 10px 20px 10px 14px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-family: $Roboto-font;
  font-weight: 500;
  color: $theme-color;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    &::before {
      left: 2px;
      height: 100%;
      width: 100%;
      background-color: #171d24;
      border-radius: 25px;
    }

    .arrow {
      margin-right: 10px;
      .horizontal-line {
        width: 20px;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    height: 100%;
    width: 44px;
    background-color: $theme-color;
    border-radius: 25px;
    z-index: -1;
  }
  .arrow {
    position: relative;
    margin-right: 30px;
    margin-left: 3px;
    .horizontal-line {
      height: 1px;
      width: 0;
      background-color: #fff;
      display: inline-block;
      margin-bottom: 5px;
      position: relative;
      margin-left: 10px;
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 1px;
        left: -2px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        transform: rotate(45deg);
        right: -2px;
        left: auto;
        bottom: 3px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 1px;
        left: -2px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        transform: rotate(-45deg);
        right: -2px;
        left: auto;
        top: 3px;
      }
    }
  }

  &.theme-btn-primary {
    &::before {
      background-color: transparent;
      background-image: linear-gradient(to top, #0050b2 0%, #4185d9 100%);
    }
  }
}
