/*----------------------------------------*/
/*   Contact  CSS
/*----------------------------------------*/
.contact-form-widget {
  label {
    font-size: 16px;
    color: $theme-title-color;
    font-family: $Poppins-font;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
  }
  .form-control {
    background-color: transparent;
    height: 55px;
    color: #9199a1;
    font-size: 14px;
    font-family: $Roboto-font;
    font-weight: 400;
    border: 1px solid #dcdee0;
    padding-right: 20px;
    padding-left: 20px;
    &::placeholder {
      color: #9199a1;
      font-size: 14px;
      font-family: $Roboto-font;
      font-weight: 400;
    }
    &:focus {
      border-color: $primary-color;
      box-shadow: none;
    }
  }
  textarea {
    &.form-control {
      height: inherit;
    }
  }
  .policy-text {
    font-size: 14px;
    font-family: $Roboto-font;
    font-weight: 400;
    color: $theme-text-color;
    line-height: 22px;
  }
}
/*----------------------------------------*/
/*   Get In Touch Area CSS
/*----------------------------------------*/
.get-touch-area {
  .get-touch-box {
    display: flex;
    align-items: flex-start;

    .icon {
      margin-right: 8px;
      img {
        vertical-align: text-top;
      }
      i {
        font-size: 18px;
        color: $primary-color;
      }
    }
    p {
      font-size: 16px;
      font-family: $Poppins-font;
      font-weight: 500;
      color: $theme-title-color;
      margin-bottom: 8px;
      line-height: 24px;
    }
    span {
      font-size: 14px;
      font-family: $Roboto-font;
      font-weight: 400;
      color: $theme-text-color;
      line-height: 22px;
    }
  }
}
