/*----------------------------------------*/
/*  Call To Action CSS
/*----------------------------------------*/
.cta {
  background-position: center;
  background-size: auto;

  padding: 70px 110px 70px 100px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: auto;
  bottom: 0;
  transform: translateY(50%);
  left: 15px;
  right: 15px;

  .shapes {
    img {
      position: absolute;

      animation: pulse 1.5s ease-out infinite alternate both;
      &:nth-child(1) {
        right: 5%;
        bottom: 10%;
        animation-delay: 0.2s;
        animation: moveY 15s linear infinite alternate both;
      }
      &:nth-child(2) {
        left: 25%;
        bottom: 0;
        animation: none;
      }
      &:nth-child(3) {
        left: 50%;
        bottom: 0;
      }
      &:nth-child(4) {
        top: 0%;
        right: 0;
        animation-delay: 0.8s;
      }
      &:nth-child(5) {
        bottom: 0%;
        left: 0;
        animation-delay: 1.8s;
      }
      &:nth-child(6) {
        top: 0%;
        left: 25%;
        animation: none;
      }
    }
  }

  .bubbles {
    div {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      position: absolute;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;

      &:nth-child(1) {
        bottom: 20%;
        left: 5%;
        animation-delay: 0.5s;
        animation-name: floatingBubble;
        background-color: rgba(#fff, 50%);
      }
      &:nth-child(2) {
        bottom: 65%;
        left: 20%;
        animation-name: floatingBubble2;
        background-color: rgba(#f6a609, 50%);
      }

      &:nth-child(3) {
        bottom: 15%;
        left: 30%;
        animation-delay: 1s;
        animation-name: floatingBubble;
        background-color: rgba(#2ac769, 50%);
      }
      &:nth-child(4) {
        bottom: 50%;
        left: 40%;
        animation-delay: 0.8s;
        animation-name: floatingBubble2;
        animation-direction: alternate-reverse;
        background-color: rgba(#fff, 50%);
      }

      &:nth-child(5) {
        bottom: 20%;
        right: 5%;
        animation-delay: 0.5s;
        animation-name: floatingBubble;
        background-color: rgba(#f6a609, 50%);
      }
      &:nth-child(6) {
        bottom: 65%;
        right: 20%;
        animation-name: floatingBubble;
        background-color: rgba(#fff, 50%);
      }

      &:nth-child(7) {
        bottom: 15%;
        right: 30%;
        animation-delay: 1.1s;
        animation-name: floatingBubble;
        background-color: rgba(#2ac769, 50%);
      }
      &:nth-child(8) {
        bottom: 50%;
        right: 40%;
        animation-delay: 0.2s;
        animation-name: floatingBubble;
        background-color: rgba(#fff, 50%);
      }
    }
  }

  a {
    display: inline-block;
    margin: 0 10px;
  }

  &.cta-bg-primary {
    background-color: $primary-color;
    background-image: none;
  }
  &.cta-bg-violet {
    background-color: #5816c5;
  }
  &.cta-2 {
    padding: 80px 70px;
    background-color: $theme-color;
  }
}
// @keyframes wavy{
//   0%{
// background-position-x: 0;
//   }
//   100%{
//     background-position-x: 1000px;
//       }
// }

.cta-3 {
  background-color: #d0f2ec;
  position: relative;
  overflow: hidden;
  .img-shapes {
    .shape {
      position: absolute;

      @keyframes WingsOne {
        0% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(10deg);
        }
      }
      .fly-msg {
        transform: rotate(-30deg);
        img {
          &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            animation-fill-mode: both;
            animation: WingsOne 0.2s ease-in infinite alternate-reverse;
            animation-delay: 0.2s;
          }
          &:nth-child(3) {
            position: absolute;
            right: 0;
            top: 0;
            animation-fill-mode: both;
            animation: WingsOne 0.2s ease-in infinite alternate-reverse;
          }
        }
      }
      &:nth-child(1) {
        left: 3%;
        transform-origin: left bottom;
        top: 70%;
      }
      &:nth-child(2) {
        left: 48%;
        top: 10%;
      }
      &:nth-child(3) {
        right: 21%;
        bottom: 0%;
        transform-origin: right bottom;
      }
      &:nth-child(4) {
        right: 10%;
        top: 20%;
      }
    }
  }
  .cta-content {
    position: relative;
    z-index: 1;
    h5 {
      font-size: 20px;
      font-family: $Poppins-font;
      font-weight: 600;
      color: #535a60;
    }
    h2 {
      line-height: 42px;
      margin-bottom: 0;
    }
    .theme-btn {
      background-color: $theme-title-color;
      height: 60px;
      line-height: 57px;
      padding: 0 40px;
    }
  }
  .form-control {
    border-color: #171d24;
    padding: 0 20px;
    font-size: 16px;
    font-family: $Roboto-font;
    font-weight: 400;
    color: $theme-text-color;
    background-color: transparent;
    text-transform: lowercase;

    &::placeholder {
      font-size: 16px;
      font-family: $Roboto-font;
      font-weight: 400;
      color: $theme-text-color;
    }
  }
}

.cta-content {
  &.text-black {
    h2 {
      color: $theme-title-color;
    }
    p {
      color: #535a60;
    }
  }
  h2 {
    color: #fff;
    font-family: $Poppins-font;
    font-weight: 700;
  }
  p {
    color: #fff;
    font-size: 18px;
    font-family: $Roboto-font;
    font-weight: 400;
  }

  .theme-btn {
    font-size: 20px;
    height: 66px;
    line-height: 66px;
    padding: 0 50px;
  }
  .cta-text-violet {
    color: #5816c5;
  }
}

.app-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  height: 58px;
  border-radius: 30px;
  padding: 7.5px 23px;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: $theme-title-color;
    box-shadow: 0 4px 10px rgba(51, 77, 114, 0.6);
    i {
      color: #fff;
    }
    .btn-text {
      span {
        color: #fff;
      }
      p {
        color: #fff;
      }
    }
  }
  i {
    color: $theme-title-color;
    font-size: 34px;
    transition: all 0.3s ease-out;
  }
  .btn-text {
    margin-left: 10px;
    span {
      font-size: 12px;
      color: $theme-title-color;
      margin-bottom: 13px;
      font-family: $Roboto-font;
      font-weight: 400;
      transition: all 0.3s ease-out;
    }
    p {
      font-size: 18px;
      color: $theme-title-color;
      font-family: $Roboto-font;
      font-weight: 500;
      transition: all 0.3s ease-out;
    }
  }
}
.cta-area-2 {
  background-color: #e9f5f3;
}

.help-cta {
  background-color: #d7f2fa;
  background-position: center;
  background-size: cover;

  p {
    color: #535a60;
    font-size: 16px;
    font-family: $Roboto-font;
    font-weight: 400;
  }
}
