/*----------------------------------------*/
/*  Custom  Animations CSS
/*----------------------------------------*/
@keyframes spin1 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes spin2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}
@keyframes customUp {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes clipInDown {
  0% {
    clip-path: polygon(-10% -10%, -10% -10%, 110% -10%, 110% -10%);
  }
  100% {
    clip-path: polygon(-10% 110%, -10% -10%, 110% -10%, 110% 110%);
  }
}
@keyframes moveX {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(70px) rotate(90deg);
  }
  50% {
    transform: translateX(0px) rotate(170deg);
  }
  75% {
    transform: translateX(-70px) rotate(90deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(70px) rotate(90deg);
  }
  50% {
    transform: translateY(0px) rotate(170deg);
  }
  75% {
    transform: translateY(-70px) rotate(90deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes floatingBubble {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(50px, -50px) scale(0.6);
  }
  40% {
    transform: translate(100px, -80px) scale(1);
  }
  60% {
    transform: translate(150px, -80px) scale(1.1);
  }
  80% {
    transform: translate(200px, -70px) scale(1);
  }
  100% {
    transform: translate(250px, -50px) scale(0.6);
  }
}

@keyframes floatingBubble2 {
  0% {
    transform: translate(0, 0) scale(0.6);
  }
  20% {
    transform: translate(-50px, 100px) scale(1);
  }
  40% {
    transform: translate(-100px, 50px) scale(1.1);
  }
  60% {
    transform: translate(0px, 50px) scale(1);
  }
  80% {
    transform: translate(50px, -50px) scale(0.6);
  }
  100% {
    transform: translate(100px, -100px) scale(1);
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
  }
}
@keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
  }
}
